<div class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://images.unsplash.com/photo-1514716406192-98539572a586?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: o;
    z-index: -1;
  ">
</div>

<div class="d-flex flex-row justify-content-center">





  <div class="container">
    <div class="banner">
      <h1>Bottle-me <strong>connecting people</strong> to <strong>help each other</strong>!</h1>

      <div class="p-2">  <%= link_to "Dashboard", bottles_new_path , class:"btn btn-ghost"%></div>


        <% if user_signed_in? %>
          <div class="p-2"><%= link_to "Discover provider",   new_user_booking_path(current_user) , class:"btn btn-ghost"%></div>

        <% else %>
          <div class="p-2"><%= link_to "Discover provider",  new_user_registration_path(:user_type => "provider") , class:"btn btn-ghost"%></div>
          <div class="p-2">  <%= link_to "Discover collector",  new_user_registration_path(:user_type => "collector") , class:"btn btn-ghost"%></div>
        <% end %>

  </div>
</div>
