<div class="container">
  <h1>Select an option</h1>
  <%= link_to "Discover provider",  new_user_registration_path(:user_type => "provider") , class:"btn btn-primary"%>
  <%= link_to "Discover provider",  new_user_registration_path(:user_type => "collector") , class:"btn btn-primary"%>
</div>
