<div class="bg-image">
    <div class="banner">
      <h1>Bottle-me <strong>connecting people</strong> to <strong>help each other</strong>!</h1>

      <p><span data-controller="typed-js"></span></p>


      <div class="p-2">  <%= link_to "Dashboard", bottles_new_path , class:"btn btn-ghost"%></div>

      <% if user_signed_in? %>
        <div class="p-2"><%= link_to "Discover provider",   new_user_booking_path(current_user) , class:"btn btn-ghost"%></div>
      <% else %>
        <div class="p-2"><%= link_to "Discover provider",  new_user_registration_path(:user_type => "provider") , class:"btn btn-ghost"%></div>          <div class="p-2">  <%= link_to "Discover collector",  new_user_registration_path(:user_type => "collector") , class:"btn btn-ghost"%></div>
      <% end %>
</div>
