
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>How do we work?🍾 </h1>




<ol>
  <li>You tell us how many bottles do you want to give away.</li>
  <li>You tell us when to pic the bottles up.</li>
  <li>We connect you if someone who is collecting bottles in your area.</li>
</ol>
